<a uib-dropdown-toggle data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul uib-dropdown-menu>
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('VP')" data-ng-class="{active: currency.symbol == 'VP'}">VP</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mVP')" data-ng-class="{active: currency.symbol == 'mVP'}">mVP</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('uVP')" data-ng-class="{active: currency.symbol == 'uVP'}">uVP</a>
  </li>
</ul>

